<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>動物詳細画面</title>
	<meta charset="utf-8" />
</head>

<body>
	<h1>動物詳細画面</h1>
	<div class="animals" style="list-style: none;">
		<div class="animals__lists" style="margin-left: 40px;" th:each="animal : ${matchingAnimalsList}">
			<p class="animal__details" th:text="No： + ${animal.id}"></p>
			<p class="animal__details" th:text="英名： + ${animal.name}"></p>
			<p class="animal__details" th:text="和名： + ${animal.japaneseName}"></p>
			<p class="animal__details" th:text="鳴き声： + ${animal.cry}"></p>
		</div>
	</div>
	<form action=animalsSearch method="get">
		<button type="submit">トップへ</button>
	</form>
</body>